{% extends "shared/_layout.html" %}
{% block title %}About{% endblock %}
{% block additional_decoration_top %}<br>\   +   * *   +   /{% endblock %}
{% block page_title %}About{% endblock %}
{% block additional_decoration_bottom %}<br>/   +   * *   +   \{% endblock %}
{% block nav %}{% endblock %}
{% block main_content %}
<p>Getting started with anything new is hard. You look around, and you see others who are doing better than you, sometimes seemingly effortlessly. You don't always see the work those people have put in, though, and it's easy to get discouraged. "Bad getting better" is a small mantra I use when starting new things. I've been coming back to Python after a significant amount of time off, and this site is collection of posts and articles, sometimes directly about something I'm working on, and sometimes about other stuff. </p>
<p>I have a huge amount of nostalgia for the "old web." To me, the old web was a place where DIY was the only option. I remember stumbling upon a collection of homemade games from an anonymous Swede, and reading an in-depth chronicle of someone building their own house in South America. It felt like a personal communication from one person to the whole world. I'd like to pay homage to that earlier time. That's why I've built this from scratch instead of using something like Medium or a Wordpress.</p>
<p>In the spirit of watching the progression of trying something new, this site is on <a href='https://github.com/pithko/badgettingbetter'>github</a>, so you can watch it evolve over time, if you're so inclined. Drop me a note there if you'd like to get in touch.</p>
{% endblock %}