{% extends "shared/_layout.html" %}
{% block additional_decoration_top %}<br>\   +   * *   +   /{% endblock %}
{% block page_title %}About{% endblock %}
{% block additional_decoration_bottom %}<br>/   +   * *   +   \{% endblock %}
{% block nav %}{% endblock %}
{% block main_content %}
<p>What is Bad Getting Better? Most literally, it's a personal website. More broadly, it's an approach to trying new things. Getting started with anything new is hard. You look around, and you see others who are doing better than you, sometimes seemingly effortlessly. The secret is that sucess always takes hard work, but people don't normally publicize the hours of practice and the number of failures along the way. </p>
<p>I have a huge amount of nostalgia for the "old web." To me, the old web was a place where DIY was the default because it was the only option. It was stumbling on a collection of homemade games from an anonymous Swede. It was finding an in-depth chronicle of building a house. It was linear communication from one person to the whole world. Today, we are fortunate because we only have to DIY the things that interest us. I hope you will forgive the rough edges. And of course, it will get better.</p>
<!--Get in touch at badgetbetter@gmail.com.</p>-->
<p><a href="/index"/>Back to home</a></p>
{% endblock %}