{% extends "shared/_layout.html" %}
{% block additional_decoration_top %}<br>\   +   * *   +   /{% endblock %}
{% block page_title %}About{% endblock %}
{% block additional_decoration_bottom %}<br>/   +   * *   +   \{% endblock %}
{% block nav %}{% endblock %}
{% block main_content %}
<p>What is Bad Getting Better? Most literally, it's a personal website. More broadly, it's an approach to trying new things. Getting started with anything new is hard. You look around, and you see others who are doing better than you, sometimes seemingly effortlessly. The secret is that sucess always takes hard work, but people don't normally publicize the hours of practice and the number of failures along the way. </p>
<p>I have a huge amount of nostalgia for the "old web." To me, the old web was a place where DIY was the default because it was the only option. It was stumbling on a collection of homemade games from an anonymous Swede. It was finding an in-depth chronicle of building a house. It felt like a personal communication from one person to the whole world. Today, we are fortunate because we only have to DIY the things that interest us. However, I'd like to pay homage to that earlier time and build my site from scratch. That's why I've opted for this strictly DIY approach instead of something like Medium or a Wordpress.</p>
<p>This whole site is on <a href='https://github.com/pithko/badgettingbetter'>github</a>. Drop me a note there if you'd like to get in touch.</p>
<br><p><a href="/index"/>Back to home</a></p>
{% endblock %}