body {
    font-family: "Georgia", "Cambria", "Times New Roman", "Times", "serif";
    margin-left: 15%;
    margin-right: 15%;
    background-color: #f9f1f1;
}

p.header {
	font-family: "Courier New";
	white-space: pre-wrap;
	text-align: center;
}

.navbar {
	font-family: "Courier New";
	text-align: center;
}

.navbar a {
	margin-left: 20px;
	margin-right: 20px;
}

p.readability {
	font-family: "Arial Black", sans-serif;
}

a:link {
	color: #0964f6;
}

a:visited {
	color: #0964f6;
  }

.content-header {
	margin-top: 20px;
	margin-bottom: 20px;
}

.content-list-item {
	margin-top: 5px;
	margin-bottom: 5px;
}

.code {
	font-family: 'Courier New';
	display: block;
	white-space: pre;
	overflow: auto;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #E0E0E0;
	padding-bottom:14px;
}

footer {
	font-family: "Courier New";
	height: 150px;
	margin-top: 30px;
	white-space: pre-wrap;
	text-align: center;
}

h3.post-title {
	font-family: "Courier New";
}